
body {
    font-size: 13px;
}
.error {
	padding-top: 0;
}
input.error {
	border: 1px solid #B40404;
}
.errorMessage {
	color: #B40404;
}
.navbar #logo {
    margin-top: 4px;
}
.navbar ul.nav > li > a {
    color: #FFFFFF;
}
.navbar.main.navbar-inverse .dropdown .dropdown-toggle {
    color: #FFFFFF;
}
.navbar .dropdown a.dropdown-toggle .caret {
    border-top: 4px solid #FFFFFF;
    font-size: 13px;
}
.navbar .dropdown.open a.dropdown-toggle .caret {
    border-top: 4px solid #FFFFFF;
    font-size: 13px;
}
.navbar ul.nav > li.active > a:hover .lig-glyphicons i:before, .navbar ul.nav > li.active > a:focus .lig-glyphicons i:before {
    color: #FFFFFF;
}
.navbar.main.navbar-inverse {
    background: none repeat scroll 0 0 #283943;
    border-color: #283943;
}
.lig-glyphicons i:before {
    color: #D8D8D8;
    display: inline-block;
    font: 16px/1em 'Glyphicons Regular';
    position: relative;
    text-transform: none;
}
#map-fs-sidebar {
    bottom: -12px;
    left: 12px;
    min-height: 500px;
    overflow: scroll;
    position: absolute;
    top: 12px;
    width: 310px;
}
ul.calc-amount-gr li {
    color: #D8D8D8;
    display: inline-block;
    font-size: 24px;
    list-style: none outside none;
    padding: 0 4px;
}
ul.calc-amount-gr li.active {
    color: #779AA4;
}
span.amount {
    bottom: inherit;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    padding: inherit;
    top: inherit;
}
.mb-20 {
    margin-bottom: 20px;
}
.navbar ul.nav > li > a {
    padding: 0 30px;
}
.navbar ul.nav > li.active {
    border-bottom: 5px solid #FFFFFF;
    border-top: 9px solid #00945D;
}
.navbar ul.nav > li.active > a {
    height: 45px;
    line-height: 45px;
}
.user-icon {
    float: right;
    font-size: 30px;
    line-height: 58px;
    margin-left: 10px;
}
.nav .navbar-nav .pull-right {
    border-left: 1px solid #FFFFFF;
}
.widget.widget-tabs > .widget-head ul li {
    background-color: #F9F9F9;
}
.widget.widget-tabs > .widget-head ul li.active .badge {
    border-color: #6EA261;
    color: #6EA261;
}
#left-menu .widget.widget-heading-simple {
    margin-top: 20px;
    min-height: 200px;
}
.table-hover > tbody > tr:hover > td {
    background-color: #006851;
    color: #FFFFFF;
}
.vendor-details {
    font-size: 14px;
}
.vendor-details .media-object {
    border: medium none;
}
.vendor-details p > span {
    margin-right: 20px;
}
.vendor-details p > span > i {
    margin-right: 4px;
}
form > .row {
    margin-top: 20px;
}
.btn-social {
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 9px;
    padding-top: 9px;
    text-align: left;
}
.btn-social i {
    font-size: 1.4em;
    margin: 0 10px;
}
.btn-twitter {
    background-color: #59ADEB;
    border-color: #3E9FE8;
}
.btn-twitter:hover {
    background-color: #FFFFFF;
    border-color: #59ADEB;
    color: #59ADEB;
}
.btn-facebook {
    background-color: #3C5A96;
    border-color: #2E4879;
}
.btn-facebook:hover {
    background-color: #FFFFFF;
    border-color: #3C5A96;
    color: #3C5A96;
}
.btn-google {
    background-color: #DD4B39;
    border-color: #CC3A2A;
}
.btn-google:hover {
    background-color: #FFFFFF;
    border-color: #DD4B39;
    color: #DD4B39;
}
.v-lines {
    color: #EEEEEE;
    text-align: center;
}
.v-lines .v-line {
    border-left: 1px solid #EEEEEE;
    height: 54px;
    margin-left: 50%;
}
.v-lines .v-text {
    margin: 5px 0;
}
.btn-original-primary {
    background: none repeat scroll 0 0 #EB6A5A;
    border-color: #EB6A5A;
    color: #FFFFFF;
}
.btn-original-primary.btn-stroke {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #EB6A5A;
}
.btn-group.open .btn-original-primary.dropdown-toggle, .btn-original-primary.disabled, .btn-original-primary[disabled], .btn-original-primary:hover, .btn-original-primary:focus, .btn-original-primary:active, .btn-original-primary.active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #EB6A5A;
    color: #EB6A5A;
}
.btn-original-primary.btn-stroke:hover, .btn-original-primary.btn-stroke:focus, .btn-original-primary.btn-stroke:active, .btn-original-primary.btn-stroke.active {
    background: none repeat scroll 0 0 #EB6A5A;
    color: #FFFFFF;
}
.btn-original-primary .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.footer-sticky #footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 10000;
}