html .layout-app, html.app .layout-app {
    margin: 0;
    padding: 0;
}

html.app.navbar-sticky .layout-app {
    top: 60px;
    padding-top: 20px;
}

html.app .layout-app .col-table {
	padding-top: 20px;	
}